/* FAQ Section */
.faq {
    padding: 5rem 1rem;
    background: var(--bg-secondary);
}

.faq-content {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 1rem;
    border: 1px solid var(--text-body);
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    padding: 1rem;
    background: var(--bg-primary);
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}

.faq-item.active .faq-answer {
    padding: 1rem;
    max-height: 500px;
}