/* DARK MODE */
[data-theme="dark"] {
    --bg-primary: #1a252f;
    --bg-secondary: #2c3e50;
    --primary-color: #e74c3c;
    --accent-color: #2c3e50;
    --text-primary: #ffffff;
    /* --text-secondary: #e74c3c; */
    --text-body: #ddd;
    --card-bg: #2c3e50;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --button-bg: #e74c3c;
    --button-bg-hover: #c0392b;
    
}

/* LIGHT MODE */
[data-theme="light"] { 
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --primary-color: #e74c3c;
    --accent-color: #2c3e50;
    --text-primary: #333;
    /* --text-secondary: #2c3e50; */
    --text-body: #666;
    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --button-bg: #e74c3c;
    --button-bg-hover: #c0392b;
}
